@import url("normalize.css");
header, footer {
    position: sticky;
    display: flex;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    height: 90px;
  }
  
  .background_color {
    background-color: #2f889a;
  }
  
  body {
    margin: 0;
    display: flex; 
    flex-direction: column;
  }
  
  html, body {
    height: 100%; 
  }
  
  html {
    min-width: 320px;
  }
  
  .wrapper {
    width: 80%;
    margin: auto;
  }
  
  #header_div {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  main {
    flex: 1 0 auto;
    padding-bottom: 20px;
  }
  
  button, textarea {
    background-color: #2f889a;
    height: 60px;
  }
  
  footer {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0; 
  }
  
  .footer_inf {
    padding: 2%;
  }
  
  .width_img {
    width: 300px;
  } 
  
  textarea {
    box-sizing: border-box; 
    resize: none;
    width: calc(100% - 310px); 
  }
  
  .elems {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
  }
  
  h1 {
    display: inline-block;
  }
  
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  .exit-nav li {
    display: inline-block;
  }

  body {
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    color: #505260;
    background-color: white;
  }

  input, textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    visibility: hidden;
  }
  .cd-user-modal.is-visible {
    visibility: visible;
  }
  .cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 3em auto 4em;
  }
  .cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
  }
  .cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
  }
  .cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
  }
  .cd-form {
    padding: 1.4em;
  }
  .cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  .cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  .cd-form input.full-width {
    width: 100%;
  }
  .cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
  }
  .cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  .cd-form input.has-error {
    border: 1px solid #d76666;
  }
  .cd-form input[type=password] {
    /* пространство для кнопки Скрыть */
    padding-right: 65px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
  }
  .cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
  }

  .cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20%;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    font-size: 14px;
    color: #343642;
  }
  #cd-login {
    width: 70;
  }